<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">



	<!-- 1.loading Properties file -->
	<context:property-placeholder  
	location="mydb.properties"/>
	
	<!-- 2. Create object with key data -->
	<bean class="com.app.DbContext"
		name="dcobj"
		p:user="${un}"
		>
		
		<property name="driver">
			<value>${dc}</value>
		</property>
		<property name="url" value="${url}"/>
		<property name="pwd">
			<value>${pwd}</value>
		</property>
	</bean>







</beans>
