<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean class="com.app.Model" name="mobj">
		<property name="mid">
			<value>10</value>
		</property>
		<property name="mcode">
			<value>PR</value>
		</property>
	</bean>
	
	<bean class="com.app.Product" name="pobj">
		<property name="pid">
			<value>5</value>
		</property>
		<property name="mb">
			<ref bean="mobj"/>
		</property>
	</bean>
	
	
	


</beans>
