<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	
	
	<bean class="com.app.B" name="bobj">
		<property name="oa" ref="aObj"/>
	</bean>
	
	<bean class="com.app.A" name="aObj">
		<property name="ob" ref="bobj"/>
	</bean>

</beans>
